<!--部分テンプレートはインスタンス変数（＠）は使用しない-->

<!--User info-->
        <h2>User info</h2>
          <table class="table">
            <tbody>
              <tr>
                <th>
                  <%=image_tag user.get_profile_image(100,100) %>
                </th>
              </tr>
              <tr>
                <th>
                  name
                </th>
                <th>
                  <%= user.name %>
                </th>
              </tr>
<!--自己紹介文-->
              <tr>
                <th>
                  introduction
                </th>
                <td>
                  <%= user.introduction %>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="row">
<!--アイコンと編集リンク-->
            <%= link_to edit_user_path(user.id), class: "btn btn-outline-secondary btn-block" do  %>
            <!--<div class="btn btn-outline-secondary btn-block" href="/users/edit">-->
              <i class="fa-solid fa-user-gear"></i>
            <% end %>
          </div>
          <!--</div>-->

<!--New Book-->
          <h2 class="mt-3">New book</h2>

<!--バリデーションによるエラーメッセージを表示-->
          <% if book.errors.any? %>
            <%= book.errors.count %>errors prohibited this obj from being saved:
              <ul>
                <% book.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
          <% end %>

<!--form_withを挿入して、プロフィールを編集できる（新規投稿フォーム作成）ようにする-->
          <%= form_with model: book do |f| %>
<!--Title（本のタイトル記述箇所）-->
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, class: "form-control book_title" %>
            <!--  Title-->
            <!--  <div class="form-control book_title" type="text" name="book[title]" id="book_title"></div>-->
            </div>
<!--Opinion(本の感想記述箇所)-->
            <div class="form-group">
              <%= f.label :opinion %>
              <%= f.text_area :body, class: "form-control book_body" %>
              <!--Opinion-->
              <!--<div class="form-control book_body" name="book[body]" id="book_body"></div>-->
            </div>
<!--Create Bookのボタン-->
            <div class="form-group">
              <%= f.submit 'Create Book', class: "btn btn-success" %>
              <!--<div type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book"></div> -->
            </div>
          <% end %>

<!--Books箇所-->
<!--<div class="col-md-8 offset-md-1">-->
<!--  <h2>Books</h2>-->
<!--    <table class="table table-hover table-inverse">-->
<!--      <thead>-->
<!--        <tr>-->
<!--          <th></th>-->
<!--          <th>Title</th>-->
<!--          <th>Opinion</th>-->
<!--          <th colspan="3"></th>-->
<!--        </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
  <!--複数のデータを登録する記述-->
<!--      <%# @books.each do |book| %>-->
<!--      <tr>-->

<!--        <td>-->
<!--          <%#= link_to user_path(book.user) do %>-->
<!--          <%#= image_tag book.user.get_profile_image(100,100) %>-->
<!--          <%# end %>-->
<!--        </td>-->
<!--        <td><%#=book.user.name %></td>-->
<!--        <td><%#= book.body%></td>-->
<!--      </tr>-->
<!--      <%# end %>-->
<!--      </tbody>-->
<!--    </table>-->
<!--</div>-->