<!--メインの記述-->
<main>
  <p id="notice"></p>
    <h2>Forgot your password?</h2>
<!--<h2>Forgot your password?</h2>-->
<%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user' do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>


    <!--<form class="new_user" id="new_user" action="/users/password" accept-charset="UTF-8" method="post">-->
<!--Emailの記述-->
<!--      <div class="field">-->
<!--        <label for="user_email">Email</label>-->
<!--        <br>-->
<!--        <input autofocus="autofocus" autocomplete="email" type="email" value name="user[email]" id="user_email">-->
<!--      </div>-->
<!--Send me reset password instructionsボタンの記述-->
<!--      <div class="actions">-->
<!--        <input type="submit" name="commit" value="Send me reset password instructions" data-disable-with="Send me reset password instructions">-->
<!--      </div>-->
<!--    </form>-->
Log inのリンク先
    <a href="/users/sign_in">Log in</a>
    <br>
Sign upのリンク先
    <a href="/users/sign_up">Sign up</a>
    <br>
</main>