<!--部分テンプレートを呼び出せるように設定-->
<%#= render [部分テンプレートファイルの指定], [ローカル変数]:[渡す値] %>
<div class="container">
  <div class="row">
    <div class="col-md-3">

<%= render 'users/main', book: @book, user:@user %>
    </div>


<!--Books箇所-->
<div class="col-md-8 offset-md-1">
  <h2>Books</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
  <!--複数のデータを登録する記述-->
      <% @books.each do |book| %>
      <tr>

        <td>
          <%= link_to user_path(book.user) do %>
          <%= image_tag book.user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(book) do %>
          <%=book.title %>
          <% end %>
        </td>
        <td>
            <%= book.body%>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
</div>
  </div>
</div>

<!--一覧画面-->
<!--コントローラから渡された@book変数内から1つずつ取り出して、book変数へ格納-->
<%# @book.each do |book| %>
  <!--<div>-->
<!--詳細画面へのリンクを追加 -->
    <%#= link_to book_path(book.id) do %>
        <%#= image_tag book.get_image %>
    <%# end %>
<!--投稿画像に紐づいたユーザーのプロフィール画像を表示-->
    <!--<p>投稿ユーザー画像:<%#= image_tag book.user.get_profile_image(100,100) %></p>-->
<!--bookにActiveStorageで設定したimageを表示.Bookモデル内に記述したメソッドを呼び出し-->
    <%#= image_tag book.get_image %>
    <!--<p>投稿ユーザー画像:<%#= image_tag 'sample-author1.jpg' %></p>-->
<!--book変数のtitleカラムを表示-->
    <!--<p>Title:<%#= book.title %></p>-->
<!--book変数のbodyカラムを表示-->
    <!--<p>Opinion:<%#= book.body %></p>-->
<!--book変数のuser_idに関連付けられているuserモデルのnameカラムを表示-->
    <!--<p>ユーザーネーム:<%#= book.user.name %></p>-->
  <!--</div>-->
<%# end %>


<!--本の一覧記述-->