<!--投稿画像の詳細ページ-->
<h1></h1>
<div>
  <%= image_tag @book.get_image %>
  <p>Title:<%= @book.title %></p>
  <p>Opinion:<%= @book.body %></p>
  <p>投稿ユーザー画像:<%= image_tag 'sample-author1.jpg' %></p>
  <p>ユーザーネーム:<%= @book.user.name %></p>
<!--投稿日付の形式を変換しているメソッド(年/月/日のフォーマットへ変換)-->
  <p>投稿日:<%= @book.created_at.strftime('%Y/%m/%d') %></p>
<!--削除を実行するためのリンクを追記-->
  <% if @book.user == current_user %>
    <%= link_to "削除", book_path(@book), method: :delete %>
  <% end %>
</div>
